@import '../globalColors.scss';
.add-promotion {
  h1 {
    color: $colorGreen;
    margin-bottom: 40px;
  }
}
.promotion-year {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .overlayInput {
    width: 25%;
    margin: 10px auto;
  }
}

.csv-input {
  display: none;
}

.csv-label {
  display: block;
  background-color: $colorGreen;
  border: none;
  cursor: pointer;
  margin: 10px auto;
  padding: 4px 12px;
  font-size: 1rem;
  width: 25%;
  min-width: 250px;
  text-align: left;
  border-radius: 5px;
}

.text-align-left {
  text-align: left;
}

.form-error {
  color: red;
}