@import "../globalColors.scss";

.connection-block {
    padding-top : 2%;
  
    form {
      padding-top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  
      p {
        color: red;
        font-size: 0.8rem;
      }
  
      input,button {
        width: 70%;
        margin-top : 1rem;
        border-radius: 5px;
        color: black;
        font-weight: bold;
        background-color: $colorGreen;
        border: none;
        padding: 2%;
        border: 3px solid transparent;
  
        &:hover, &:focus {
          background-color: $colorWhite;
          border-color: $colorGreen;
          color: $colorGreen;
        }
      }
  
      button {
        margin-top: 20%;
        cursor: pointer;
      }
    }
  
    img {
      width : 50%;
      max-width : 200px;
    }
}

.list-classrooms {
    padding-top: 2em;
    font-weight: 700;;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;

    button:last-child {
        margin-top: 4em;
    }

    .buttons {
        width: 80vw;
        justify-content: center;
        &.buttons-promotion {
          padding: 1em 10px;
          font-size: 13px;
        }
    }
}