@import '../globalColors.scss';

.flashcard-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .flashcard-element {
        display: flex;
        flex-direction: column;
        align-items: center;

        .flashcard-buttons {
            background-color: $colorYellow;
            border-color: $colorYellow;
            font-weight: bold;
            padding: 50px 10px;
            margin: 15px 0;
            width: 100%;
            justify-content: center;
            max-height: 30px;

            &:hover {
                background-color: $colorWhite;
                color: $colorYellow;
            }
        }
    }
}

.flashcard-creation-btn {
    width: 10%;
    min-width: 171px;
    padding: 10px;
    background-color: white;
    border: 2px solid $colorYellow;
    font-weight: bold;

    &:hover {
        background-color: $colorYellow;
    }
}