@import "../globalColors.scss";
.forumSearchPageContainer {
    text-align: left;
}

.forumSearchInputContainer {
    display: flex;
    align-items: center;
    border: 1px solid $colorBrightGrey;
    padding: 15px 8px;
    margin-bottom: 20px;
    >input {
        font-family: inherit;
        border: none;
        width: 100%;
        margin-right: 10px;
    }
}

.Header {}

.forumGreetings {
    text-align: center;
}

.singleTagContainer {
    display: inline-block;
    margin-right: 10px;
}

.singleTag {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $colorTurquoise;
    background-color: rgba($colorTurquoise, 0.65);
    padding: 4px 4px;
    border-radius: 5px;
}

.tagText {
    margin-right: 8px;
    font-weight: bold;
}

.tagCloseButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    >img {
        max-width: 10px;
    }
}

//forum cell
// =====================================
.forumCellContainer {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: $colorTurquoise;
    border: 3px solid $colorTurquoise;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: $colorWhite;
    }
}

.forumCellTitleContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.forumCellTitle {
    font-weight: bold;
}

.forumCellIcon {
    max-width: 30px;
}

.forumCellDetailedinfoContianer {
    text-align: left;
    margin-top: 10px;
     :nth-child(1) {
        margin-right: 30px;
    }
}