@import "../globalColors.scss";
.asnwerContainer {
    border-top: 2px solid $colorBrightGrey;
    padding: 10px;
}

.answerHeading {
    font-weight: bold;
<<<<<<< HEAD
=======
     :nth-child(1) {
        margin-right: 10px;
    }
>>>>>>> 5f940206d53cf65d4ebd16748a5f072d8ff3b345
}

.answerText {
    margin-top: 15px;
}