@import '../globalColors.scss';

.block {
    border: 1px solid $colorBrightGrey;
    border-radius: 5px;
    margin-top: 5%;
    height: auto;
    overflow-y: hidden;
    max-height: 40px;
    transition: max-height 250ms ease-in;

    @media (min-width: 1200px) {
        max-height: max-content;
    }

    div:last-child {
        margin-bottom: 0;
    }

    .btn-header {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        width: 100%;

        p {
            margin-left: 0.5rem;
            font-size: 0.7rem;
            background-color: $colorGreenOpacity;
            border-radius: 5px;
            padding: 2px 8px;
            font-weight: bold;

            &.yellow {
                background-color: $colorOrange;
            }
        }

        img {
            margin-left: auto;
        }

        /*     button {
        background: none;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    } */

        .block-header {
            background-color: $colorBrightGrey;
            padding: 0.5em;
            height: 40px;

            @media (min-width: 1200px) {
                img {
                    display: none;
                }
            }
        }

        .block-paragraph {
            text-align: justify;
            font-size: 12px;
            line-height: 16px;
            padding: 1em;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;

            @media (min-width: 1200px) {
                font-size: 14px;
                line-height: 20px;
            }

            @media (min-width: 768px) {
                font-size: 16px;
                line-height: 24px;
            }

            &>button {
                align-self: flex-end;
            }

            img {
                width: 12px;
            }

            .icon-end {
                width: 16px;

            }

            .icon-start {
                margin-right: 5px;
            }

            a {
                margin-left: 1em;
                text-decoration: underline;
            }

            &.orange {
                background-color: $colorOrange;
            }

            &.green {
                background-color: $colorGreenOpacity;
            }
        }

        .block-edit {
            background-color: $colorBrightGrey;
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;

            textarea,
            input[type="text"] {
                border: none;
                resize: none;
                width: 100%;
                min-height: 15em;
                padding: 10px;
            }

            .edit-button-action {
                padding-top: 1em;
                display: flex;
                width: 100%;
                overflow: hidden;

                button {
                    border-radius: 5px;
                    padding: 4px;
                    font-weight: bold;
                    margin-right: 0.5em;

                    &.red {
                        background-color: $colorRedOpacity;
                    }

                    &.green {
                        background-color: $colorGreenOpacity;
                    }
                }

                .checkbox {
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    min-width: 79px;

                    input {
                        margin-right: 5px;
                    }
                }
            }

            .ressource_edit {
                display: flex;
                flex-direction: column;
                width: 100%;

                input {
                    min-height: 2em;
                    margin-bottom: 0.5em;
                }
            }
        }
    }

    .anim-paragraph {
        max-height: 900px;
        overflow-y: auto;
    }
}