@import '../globalColors';

.button {
  display : flex;
  flex-direction: row;
  justify-content: center;
  width : 90%;
  border: 3px solid transparent;
  border-radius: 5px;
  margin-bottom: 8%;
  padding: 5%;


  & img {
    margin-left : 5%;
  }

  &:hover {
    cursor: pointer;
    background-color: $white;
  }


}

.blue-btn {
    background-color: $colorBlue;
    

    &:hover {
        border-color: $colorBlue;
    }
}

.yellow-btn {
    background-color: $colorYellow;

    &:hover {
        border-color: $colorYellow;
    }
}

.green-btn {
    background-color: $colorGreen;

    &:hover {
        border-color: $colorGreen;
    }
}