@import '../globalColors';

.Footer {
  background-color: $colorGrey;
  padding: 4%;
  color: $colorWhite;
  font-family: $alef;
  max-height: 20vh;

  ul {
    margin-top: 5%;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
  }

  img {
    width: 15%;
    max-width: 8vh;
  }

  @media (min-width: 766px) {
    ul {
      margin-top: 2%;
      margin: 1% auto;
      max-width: 70vh;
    }
    padding: 1%;
    margin-top: 5%;
  }
}
