@import '../globalColors';

.Header {
    display: flex;
    border-bottom: 1px solid $colorGrey;
    align-items: center;
    justify-content: space-between;
    max-height: 10vh;

    & img {
        width: 20%;
        max-width: 10vh;
    }

    h1 {
        font-family: $arvo;
        font-weight: 400;
        font-size: 1.5rem;
        margin: 0;
        span {
            font-weight: 800;
        }
    }

    .button-burger-menu {
        display: flex;
        justify-content: center;
        width: 20%;
        padding: 2%;
        max-width: 10vh;

        button {
            padding: 0;
            background-color: transparent;
            border: none;
            width: 36px;
    
            img {
              width: 100%;
            }
        }
    }

    @media (min-width: 768px) {
        // height: 154px;

        // & img {
        //     max-width: 154px;
        // }

        h3 {
            font-size: 2rem;
        }
    }
}