$colorBlue: #0998C0;
$colorYellow: #FCC300;
$colorGreen: #8FC89A;
$colorGrey: #787878;
$colorWhite: white;
$colorBrightGrey: #F1F0F0;
$colorRedError: rgb(248, 89, 89);
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Arvo:wght@400;700&display=swap');
$alef: 'Alef',
'sans-serif';
$arvo: 'Arvo',
'sans-serif';